{{ partial "header.html" . }}
<div class="jumbo">
<div class="row">
	<div class="Djenks">
		<main role="main">
			<article>
				<a id="title"></a>
				<h1 class="doc-entry-title">{{ .Title }}</h1>
				<div class="doc-entry-meta">
					<span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
				</div>
				<section>
					{{ .Content }}
				</section>
			</article>
		</main>

</div>
</div>
{{ partial "footer.html" . }}
