{{ $baseUrl := .Site.BaseURL }}

{{ with .Site.Params.analytics }}<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', '{{ . }}', 'auto');
	ga('send', 'pageview');
</script>{{ end }}

<script src="{{ $baseUrl }}/js/jquery-1.11.2.min.js"></script>
<script src="{{ $baseUrl }}/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ $baseUrl }}/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{ $baseUrl }}/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
