{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}

<main role="main">

<div class="row">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>{{ .Site.Title }}</h1>
		<p>
		<b>Welkom op mijn GIP-website!
		Ik ben Jens Van Hoof en ik woon in Oostmalle. Ik zit momenteel in mijn zesde jaar informaticabeheer op het Immaculata Instituut te Oostmalle. Het grootste deel van mijn vrije tijd zit ik achter de computer, vaak voor ontspanning, maar ook om website te maken, informatie op zoeken over programmeren enzovoort.</b><br><br>
			Op deze site die wij hebben moeten maken met GoHugo een static-site generator zullen al mijn GIP-taken gepubliceerd worden. Door op de knop ‘Vakken’ te klikken kan je naar mijn opdrachten gaan per vak. Als je gewoon al mijn opdrachten wil bekijken
			moet gewoon naar artikels gaan.<br><br>
		In de toekomst zie ik mezelf toegepaste informatica volgen om zo later als programmeur te gaan werken. Nadat ik mijn opleiding informatica heb afgerond ga ik misschien ook nog overwegen om voor te studeren in systeembeheer.<br><br>
		Ik wens u veel plezier met het surfen op mijn website.
	</p>
	<h6 align="center">Vous avez des questions sur Sway ? Cliquez <a href="http://jens-vanhoof.github.io/GIP/artikels/Frans/FAQ/">ICI</a>.</h6>
	</div>
</div>

{{ range where .Site.Pages "Title" "_index" }}
	<div class="row doc-main">
		<p class="doc-entry-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></p>
		{{ .Content }}
	</div>
{{ end }}

{{ if isset .Site.Params "withSitePosts" }}
<hr />

<div class="row doc-main text-center">
	<a href="{{ $baseUrl }}/post">See posts for {{ .Site.Title }}</a>
</div>
{{ end }}

</main>

{{ partial "footer.html" . }}